# 빌드 결과물
build/
install/
log/git commit -m "ignore: bagfiles and bag-like formats"
# Python 캐시
__pycache__/
*.pyc

# 기타 불필요한 파일
*.swp
*.tmp
*.log
!src/robot_localization//**
!src/slam_toolbox//**
src/ferrari/bagfiles/
**/bagfiles/
*.bag
*.bag.active
*.db3
*.mcap
