# ferrari/config/controllers.yaml

controller_manager:
  ros__parameters:
    use_sim_time: true
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    # 커스텀 컨트롤러 등록(타입만 기입)
    f1tenth_commands_controller:
      type: F1TenthCommandsController

/ferrari/controller_manager:
  ros__parameters:
    use_sim_time: true
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    f1tenth_commands_controller:
      type: F1TenthCommandsController

# 커스텀 컨트롤러의 파라미터는 "동일 이름" 최상단 키에 별도로 넣는다
f1tenth_commands_controller:
  ros__parameters:
    left_steer_joint:  "front_left_steer_joint"
    right_steer_joint: "front_right_steer_joint"
    left_wheel_joint:  "rear_left_wheel_joint"
    right_wheel_joint: "rear_right_wheel_joint"

    servo_center: 0.5
    steer_max_left_rad:  -0.349066    # 20°
    steer_max_right_rad: -0.349066  # 20°
    servo_axis_inverted: false
    erpm_per_radps: 500.0

/ferrari/f1tenth_commands_controller:
  ros__parameters:
    left_steer_joint:  "front_left_steer_joint"
    right_steer_joint: "front_right_steer_joint"
    left_wheel_joint:  "rear_left_wheel_joint"
    right_wheel_joint: "rear_right_wheel_joint"

    servo_center: 0.5
    steer_max_left_rad:  -0.349066
    steer_max_right_rad: -0.349066
    servo_axis_inverted: false
    erpm_per_radps: 500.0
